[core]
    autocrlf = input

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    ft = fetch
    fa = fetch --all -v -p
    d = diff
    dc = diff --cached
    df = diff --name-only
    dt = difftool
    tr = log --graph --oneline --all --color --decorate --date=short
    sr = svn rebase
    sc = svn dcommit
    rb = rebase
    pt = push --follow-tags
    pm = push -o merge_request.create -o merge_request.target=master -o merge_request.merge_when_pipeline_succeeds 

[push]
    default = simple

[diff]
    tool = vimdiff
[include]
    path = .gitconfig.local
[gpg]
    program = gpg2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
